li {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}

.pergunta-selecionada {
    display: block;
    margin-top: 25px;
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: relative;
    padding: 10px;

}

.pergunta-selecionada h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.pergunta-selecionada img {
    width: 30px;
    height: 20px;
    color: #333333;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
